.main{
    background-color : #f3f3ff;
}
/* 
.main::before{
    content:'';
    height: 500px;
    width: 500px;
    border-radius: 50%;
    position: absolute;
    left:25%;
    background : linear-gradient(to right, rgb(234, 155, 230), rgb(239, 199, 90));
    filter: blur(100px);
} */

/* .main::after{
    content:'';
    height: 450px;
    width: 450px;
    border-radius: 50%;
    position: absolute;
    right:5%;
    bottom:1%;
    background : linear-gradient(to right, rgb(154, 178, 229), rgb(111, 130, 172));
    filter: blur();
} */

.card{
    background: linear-gradient(135deg, rgba(255, 255, 255, 0.1), rgba(255, 255, 255, 0));
    backdrop-filter: blur(30px) ;
    -webkit-backdrop-filter: blur(10px) ;
    border-radius: 20px;
    border : 1px solid rgba(21, 21, 21, 0.204);
    box-shadow: 0 8px 32px 0 rgba(0, 0, 0, 0.37);
}
.ai{
    color : #514fbe;
}